<div class="container">

  <div class='row'>


    <div class="busqueda-previa" ng-hide='data.result'>
      <img src="img/logo_educar.gif">
      <div class="input-group input-group-lg busqueda-input-gral">
        <input type="text" ng-model='data.query.texto' class="form-control" placeholder='¿Que estás buscando?'>
        <span class="input-group-btn">
          <button ng-click='buscar()' class="btn btn-success" type="button">Buscar</button>
        </span>
      </div>
    </diV>


    <div class='resultado-busqueda' ng-show='data.result' infinite-scroll="busquedaPagingFunction()">

      <div class="input-group busqueda-input-resultados">
        <input ng-model='data.query.texto' type="text" class="form-control">
        <span class="input-group-btn">
          <button ng-click='buscar()' class="btn btn-default" type="button">Buscar</button>
        </span>
      </div>

      <ul class="nav nav-tabs busqueda-filtro-entidad">
        <li ng-class="{active: data.mostrar == 'todos'}">
          <a ng-click="mostrar('todos')">Todos</a>
        </li>
        <li ng-class="{active: data.mostrar == 'juegos'}">
          <a ng-click="mostrar('juegos')">Juegos</a>
        </li>
        <li ng-class="{active: data.mostrar == 'videos'}">
          <a ng-click="mostrar('videos')">Videos</a>
        </li>
        <li ng-class="{active: data.mostrar == 'ebooks'}">
          <a ng-click="mostrar('ebooks')">Ebooks</a>
        </li>
        <li ng-class="{active: data.mostrar == 'secuencias'}">
          <a ng-click="mostrar('secuencias')">Secuencias</a>
        </li>
        <li ng-class="{active: data.mostrar == 'infografias'}">
          <a ng-click="mostrar('infografias')">Infografias</a>
        </li>
      </ul>

      <div ng-hide="(data.mostrar == 'todos' && data.recursos) || data[data.mostrar]" class="sin-resultados">
        <p>No se encontraron resultados</p>
      </div>

      <div ng-show="data.mostrar == 'todos' || data.mostrar == (recurso.entity+'s')" ng-class="recurso.entity" ng-repeat='recurso in data.recursos' class="bs-callout bs-callout-info">
        <h4 ng-bind-html="recurso.titulo | striptags"></h4>
        <p ng-bind-html="recurso.descripcion | striptags"></p>
        <span class="label label-primary">{{recurso.entity}}</span>
        <hr/>
      </div>

    </div>

  </div>

</div>
</div>

</div>
