<div class="container" ng-controller="BuscarController as busqueda">
  <div class="row">
      <div class="row" id="busqueda_recurso" ng-show="busqueda.recurso == null">
        <div class="col-sm-3 sidebar" id="temas_tree">
		<script type="text/ng-template" id="tree-renderer.html">
		 <a href="">{{tema.descripcion}}</a>
		 <ul>
		   <li ng-repeat="tema in tema.children" ng-include="'tree-renderer.html'"></li>
		 </ul>
		</script>
	    <ul class="nav nav-list">
	      <li ng-show="tema.id_padre == null" ng-repeat="tema in busqueda.temas" ng-include="'tree-renderer.html'"></li>
	    </ul>
        </div>

        <div class="col-sm-9 main" id="busqueda_container">
          <h1 class="page-header">Buscar en educ.ar</h1>

          <div class="row placeholders">

            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" src="img/juegos.jpg">
              <h4 ng-click="busqueda.buscarJuegos()">Juegos</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" src="img/videos.jpg">
              <h4 ng-click="busqueda.buscarVideos()">Videos</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" src="img/secuencias.jpg">
              <h4 ng-click="busqueda.buscarSecuencias()">Secuencias Didácticas</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" src="img/infografias.jpg">
              <h4 ng-click="busqueda.buscarInfografias()">Infografías</h4>
            </div>
          </div>

          <div class='row'>
            <button class='btn btn-success'>Simular una descarga</button>
          </div>




          <div class="table-responsive" ng-hide="busqueda.buscando == ''">
	        <h2 class="sub-header">{{busqueda.buscando}}</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>imagen</th>
		              <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="recurso in busqueda.recursos">
                  <td>{{recurso.id}}</td>
                  <td>{{recurso.titulo}}</td>
                  <td>{{recurso.descripcion}}</td>
                  <td><img src="{{recurso.icono_chico}}"></td>
                  <td><a ng-click="busqueda.verRecurso(recurso.id)" class="btn btn-default">ver/descargar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row" id="detalle_recurso" ng-hide="busqueda.recurso == null">
	<div class="col-sm-2">
	<a ng-click="busqueda.volver()" class="btn btn-default">volver</a></td>
	</div>
	<div class="col-sm-10">
	<h1>{{busqueda.recurso.titulo}}</h1>
	<p>{{busqueda.recurso.descripcion}}</p>
	<object type="application/x-shockwave-flash" id="flash-player" name="flash-player" data="{{busqueda.recurso.url}}" width="514" height="335.5"></object>
	</div>
	<a ng-click="busqueda.descargar()" class="btn btn-default">Descargar</a></td>
</div>
</div>

</div>
