<div class="container">

  <div class='row'>
    <h1>Categorias en educ.ar</h1>
  </div>

  <div class='row'>
    <div class="col-xs-3">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" src="img/juegos.jpg">
      <br/>
      <button ng-click='listar_juegos()' class='btn btn-success'>Listar Juegos</button>
      <br/>
    </div>

    <div class="col-xs-3">
      <img class="img-responsive" src="img/videos.jpg">
      <br/>
      <button ng-click='listar_videos()' class='btn btn-success'>Listar Videos</button>
      <br/>
    </div>

    <div class="col-xs-3">
      <img class="img-responsive" src="img/secuencias.jpg">
      <br/>
      <button tooltip="sin implementar ..." class='btn btn-default'>Listar Secuencias</button>
      <br/>
    </div>

    <div class="col-xs-3">
      <img class="img-responsive" src="img/infografias.jpg">
      <br/>
      <button tooltip="sin implementar ..." class='btn btn-default'>Listar Infografias</button>
      <br/>
    </div>
  </div>

  <div class='row'>
    <div class="col-xs-3">

      <!-- TODO: convertir este ng-repeat en una directiva -->

      <table class='table-bordered table-listado'>
        <tr ng-repeat='juego in data.juegos.result.data'>
          <td>
            <h3>{{juego.titulo}}</h3>
            <img ng-src='{{juego.icono_chico}}'>
            <p>
            {{juego.descripcion}}
          </td>
        </tr>
      </table>

    </div>

    <div class="col-xs-3">

      <!-- TODO: convertir este ng-repeat en una directiva -->

      <table class='table-bordered table-listado'>
        <tr ng-repeat='video in data.videos.result.data'>
          <td>
            <h3>{{video.titulo}}</h3>
            <img ng-src='{{video.icono_chico}}'>
            <p>
            {{video.descripcion}}

            <div class='bloque-tags'>
              <span ng-repeat='e in video.etiquetas' class="label label-success">{{e.descripcion}}</span>
            </div>

            <div class='bloque-botones'>
              <button ng-click='abrir_recurso(video)' class='btn btn-info'>Abrir</button>
              <button ng-click='ver_recurso_en_educar(video)' class='btn btn-info'>Ver online en educ.ar</button>
            </div>

          </td>
        </tr>
      </table>

    </div>

    <div class="col-xs-3">
    </div>

    <div class="col-xs-3">
    </div>
  </div>


</div>
</div>
