<div class="container">

  <div class="row">
    <div class="col-lg-12 home">


      <boton-descarga recurso-id='22123'></boton-descarga>

      <h1>Escritorio educativo</h1>


      <img class='img-logo' src='img/home.png'>

      <p>¡Hola!, mediante esta aplicación vas a poder acceder a todos
        los recursos didácticos de la plataforma <em>educ.ar</em>, el portal
        educativo del Ministerio de Educación de la Argentina.</p>

      <p>Los contenidos están destinados a docentes, alumnos, familias,
        directivos, investigadores y organizaciones para incorporar las
        TIC (tecnologías de la información y la comunicación) a la
        educación de la Argentina.</p>

      <p>Ingresá en la sección <a href='#/buscar'>buscar</a> para explorar
        los recursos y descargarlos en tu netbook.</p>

    </div>
  </div>
</div>
