
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Escritorio educativo</h1>
                <p>Aplicación de escritorio pensada para realizar búsquedas
                  y consumir offline los recursos del portal
                  <strong>educ.ar</strong>, basada en
                  el stack de tecnologías: <code>node-webkit</code>,
                  <code>nedb</code>, <code>express</code>,
                  <code>rest</code> y <code>angular.js</code>.</p>

                <p>Consultá el proyecto en
                  <a href='https://github.com/ajchambeaud/escritorio-educativo'>github</a>.
                  para mas detalles.
            </div>
        </div>

    </div>
