<div class="container">

  <div class="row">
    <h1>Mis Recursos</h1>
  </div>

  <div class="row">
    <button class='btn btn-success' ng-click='test_descargar()'>Iniciar descarga de prueba</button>
    <button class='btn btn-success' ng-click='test_descargar_rapido()'>Iniciar descarga rápida</button>
  </div>

  <div class="row">
    <h3>Descargas en curso</h3>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th colspan=2>Acciones</th>
          </tr>
        </thead>
        <tbody>


          <tr ng-show="data.descargas_en_curso.length == 0">
            <td colspan='4' align='center'>No hay descargas en curso aún</td>
          </tr>

          <tr ng-repeat="recurso in data.descargas_en_curso" ng-show="data.descargas_en_curso.length > 0">
            <td>{{recurso.detalle.result.titulo}}</td>
            <td>{{recurso.detalle.result.descripcion}}</td>

            <td ng-show="recurso.estado == 'error'">ERROR</td>
            <td class='col-progreso' ng-show="recurso.estado == 'descargando'"><progressbar value="recurso.progreso" class="progress-striped active" type='success'>{{recurso.progreso}}%</progressbar></td>
            <td ng-show="recurso.estado == 'terminado'">OK</td>

            <td ng-show="recurso.estado == 'descargando'"><button class='btn btn-danger btn-xs'>cancelar</button></td>
            <td ng-show="recurso.estado == 'terminado'">  <button class='btn btn-success btn-xs'>abrir</button></td>
          </tr>
        </tbody>
      </table>
  </div>


  <div class="row">
    <h3>Mis Recursos Almacenados</h3>
  </div>

  <div class="row">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-show="data.recursos_almacenados == null">
            <td colspan='4' align='center'>
              <img src='img/cargando.gif'/>
          </tr>

          <tr ng-show="data.recursos_almacenados.length == 0">
            <td colspan='4' align='center'>Sin recursos</td>
          </tr>

          <tr ng-repeat="recurso in data.recursos_almacenados">
            <td>{{recurso.result.titulo}}</td>
            <td>{{recurso.result.descripcion}}</td>
            <td><button disabled class='btn btn-success btn-xs'>abrir</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
