<div class="container">

  <div class="row">
    <h1>Mis Recursos</h1>
  </div>

  <div class="row panel-buscador">

    <div class="btn-group">
      <label class="btn btn-success" ng-model="data.tipo_de_vista" btn-radio="'lista'" uncheckable><i class='glyphicon glyphicon-th-list'></i></label>
      <label class="btn btn-success" ng-model="data.tipo_de_vista" btn-radio="'grilla'" uncheckable><i class='glyphicon glyphicon-th'></i></label>
    </div>

    <input class='form-control input-buscador' type="input" ng-model='filtro' placeholder='filtro'>
  </div>

  <div class="row">

      <table class="table table-striped table-bordered"
             ng-show='data.tipo_de_vista === "lista"'>
        <thead>
          <tr>
            <th>Miniatura</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-show="data.recursos_almacenados == null">
            <td colspan='4' align='center'>
              <img src='img/cargando.gif'/>
            </td>
          </tr>

          <tr ng-show="(data.recursos_almacenados | filter:filtro).length == 0">
            <td colspan='4' align='center'>Sin recursos para mostrar</td>
          </tr>

          <tr ng-repeat="recurso in data.recursos_almacenados | filter:filtro">
            <td><a href ng-click='abrir(recurso)'><img width=100 ng-src='{{path_recursos}}/{{recurso.result.id}}/thumb.png'></a></td>
            <td><a href ng-click='abrir(recurso)'>{{recurso.result.titulo}}</a></td>
            <td>{{recurso.result.descripcion}}</td>
            <td><button ng-click='abrir(recurso.result)' class='btn btn-success btn-xs'>abrir</button></td>
          </tr>
        </tbody>
      </table>

      <div ng-show='data.tipo_de_vista === "grilla"'>

        <div ng-show="data.recursos_almacenados == null">
          <img src='img/cargando.gif'/>
        </div>

        <div ng-show="(data.recursos_almacenados | filter:filtro).length == 0">
          Sin recursos para mostrar
        </div>

        <div class='item' ng-repeat="recurso in data.recursos_almacenados | filter:filtro">
          <a href ng-click='abrir(recurso.result)'><img width=175 ng-src='{{path_recursos}}/{{recurso.result.id}}/thumb.png'></a>
          <br/>
          <a href ng-click='abrir(recurso.result)'>{{recurso.result.titulo}}</a>
        </div>


      </div>


    </div>
  </div>
</div>
</div>
