<div class="modal-header">
  <button class="close float-right" ng-click="ok()">x</button>
  <h4 class="modal-title">Acerca de conectar-educativo (versión 0.3.1)</h4>
</div>

<div class="modal-body">

  <p>
    Esta aplicación ha sido desarrolla en conjunto
    por el equipo técnico de <a href ng-click='visitar("http://educ.ar")'>educ.ar</a> y
    <a href ng-click='visitar("http://huayra.conectarigualdad.gob.ar")'>huayra-linux</a>. El desarollo
    comenzó como un
    mini-proyecto dentro hackatón del primer foro regional de
    <a href ng-click='visitar("http://program.ar/")'>program.ar</a> usan tecnologías
    como html5 y angularjs. Desde las <a href onclick='mostrar_herramientas_de_desarrollo()'>herramientas
      de desarrollo</a> se pueden ver mas detalles.
  </p>


  <p>El código completo del proyecto se puede acceder desde
    <a href ng-click='visitar("https://github.com/ajchambeaud/escritorio-educativo")'>github</a>,
    y es software libre.
  </p>

  <div class='panel-logos'><img class='img-about' src='img/logos.png'></p></div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Cerrar</button>
</div>
