<div class="modal-header">
  <h3 class="modal-title">{{data.detalle.result.titulo}}</h3>
</div>

<div class="modal-body">
  <video width="100%" controls>
    <source ng-src="{{data.detalle.result.url | trustUrl}}" type="video/mp4">
  </video>
  <p>{{data.detalle.result.descripcion | striptags}}</p>
  <button ng-click='descargar_video(data.detalle)' class='btn btn-success'>Descargar</button>

  <boton-descarga recurso="data.detalle" ng-click='descargar_video(data.detalle)'></boton-descarga>


</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
