<div class="modal-header">
  <h3 class="modal-title">Acerca de escritorio-educativo</h3>
</div>

<div class="modal-body">

  <p>
    Esta aplicación ha sido desarrolla en conjunto
    por el equipo técnico de <a href>educ.ar</a> y
    <a href>huayra-linux</a> y comenzó el en primer foro regional
    de <a href>program.ar</a>.
  </p>

  <p>El proyecto está basado en tecnologías HTML5, junto a varias herramientas de <em>software libre</em>, como
    <a href>nodewebkit</a>, <a href>angularjs</a> y <a href>bootstrap</a>. Incluso
    las <a href onclick='mostrar_herramientas_de_desarrollo()'>herramientas de desarrollo</a> se pueden abrir para
    inspeccionar y modificar la aplicación.

  <p>El código del proyecto se puede acceder desde
    <a href='https://github.com/ajchambeaud/escritorio-educativo'>github</a>, y
    es software libre.
  </p>

  <p><img class='img-about' src='img/logos.png'></p>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
