<div class="modal-header">
  <button class="close float-right" ng-click="ok()">x</button>
  <h4 class="modal-title">{{data.detalle.result.titulo}}</h4>
</div>

<div class="modal-body">
  <p>{{data.detalle.result.descripcion | striptags}}</p>
  <iframe ng-src="{{data.detalle.mozillaPdfjsUrl + data.detalle.corsProxyUrl + data.detalle.result.url | trustUrl}}" width="100%" height="500"></iframe>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Cerrar</button>
</div>
