<div class="modal-header">
  <button class="close float-right" ng-click="ok()"><i class='glyphicon glyphicon-remove'></i></button>
  <h4 class="modal-title">{{data.detalle.result.titulo}}</h4>
</div>

<div class="modal-body">


  <reproductor ruta='data.detalle.result.url'></reproductor>

  <p>{{data.detalle.result.descripcion | striptags}}</p>
  <boton-descarga recurso-id="data.detalle.result.id" ng-click='descargar_video(data.detalle)'></boton-descarga>

{{data.detalle.result}}

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Cerrar</button>
</div>
