<div class="container">

  <div class="row">
    <h1>Perfil de usuario</h1>

    <p>Indicanos tus preferencias, así la aplicación te puede presentar
      la información de manera personalizada.</p>

    <form role="form" class="preferencias">

  <div class="form-group">
    <label for="exampleInputEmail1">Tu nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tu nombre completo">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Nivel</label>

    <select disabled class="form-control">
      <option>Secundario</option>
      <option>Primario</option>
      <option>Terceario</option>
    </select>

  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> ¿Sos docente?
    </label>
  </div>



  <button type="submit" disabled class="btn btn-primary btn-preferencias">Guardar</button>
</form>






  </div>
</div>
