<div class="container">
  <div class="row">

<h1>Mis Recursos</h1>
<div class="container-fluid" ng-controller="MisRecursosController as misrecursos">
      <div class="row" ng-hide="misrecursos.recursos == null">
        <div class="col-sm-12 sidebar" id="temas_tree">
	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>#</th>
		  <th>Titulo</th>
		  <th>Descripcion</th>
		</tr>
	      </thead>
	      <tbody>

		<tr ng-hide="misrecursos.recursos">
      <td colspan='3' align='center'>Sin recursos</td>
    </tr>

		<tr ng-repeat="recurso in misrecursos.recursos">
		  <td>{{recurso.id}}</td>
		  <td>{{recurso.titulo}}</td>
		  <td>{{recurso.descripcion}}</td>
		</tr>
	      </tbody>
	    </table>
	</div>
      </div>
</div>

</div>
</div>
