[Desktop Entry]
Name=conectar-educativo
Comment=Una aplicación para descargar y ver los recursos de educ.ar offline
Exec=/usr/bin/conectar-educativo
Terminal=false
Type=Application
Icon=conectar-educativo
Categories=GNOME;GTK;Huayra;Network;
